.loading-container {
  display: none;
  position: relative;
}

.NyanCat {
  width: 290px;
  height: 148px;
  background-image: url(https://i.imgur.com/UM33Xkx.png);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  animation: NyanCat .5s steps(5) infinite;
}
@keyframes NyanCat {
  100% {
    background-position: -1500px 0;
  }
}

.loading-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-image: url(https://i.imgur.com/iXDWhsQ.jpg);
  background-size: cover;
  opacity: .8;
  animation: Background .5s steps(5) infinite;
}
@keyframes Background {
  100% {
    background-position: -1500px 0;
  }
}

.is-show{
  display: block;
}