@use '../utility/color';
@use '../utility/font-size';
@use '../utility/reset';

.finish {
  width: 100%;
  padding: 15px;
  background-color: color.$green-200;
  text-align: center;
  .status-title {
    border-bottom: solid 1px;
    margin-bottom: 20px;
    p {
      font-size: 28px;
      margin-bottom:15px;
    }
  }
  .member-info {
    display: flex;
    justify-content: space-around;
    &-avatar {
      width: 100px;
      height: 100px;
      padding: 10px;
      margin-right: 20px;
      background-color: color.$white;
      border: solid 3px color.$black;
      border-radius: 50%;
      img {
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    &-content {
      text-align: left;
      flex: 2 0 0;
      .name {
        margin-bottom: 10px;
        span {
          font-weight: 600;
        }
      }
      .subject {
        margin-bottom: 10px;
        span {
          font-size: 1rem;
          line-height: 16px;
          vertical-align: middle;
        }
        a {
          display: inline-block;
          line-height: 16px;
          vertical-align: middle;
        }
      }
      .article {
        margin-bottom: 10px;
        span {
          font-size: 1rem;
          line-height: 16px;
          vertical-align: middle;
        }
        a {
          display: inline-block;
          line-height: 16px;
          vertical-align: middle;
        }
      }
    }
    .last-release {
      padding: 0 30px;
      background-color: color.$white;
      &-time {
        display: block;
        @media (min-width: 768px) {
          margin-right: 10px;
          display: inline-block;
        }
        span {
          display: block;
          font-size: 14px;
          line-height: 20px;
          @media (min-width: 768px) {
            display: inline;
          }
        }
        time {
          font-size: 14px;
          line-height: 20px;
        }
      }
      &-post {
        display: block;
      @media (min-width: 768px) {
        display: inline-block;
      }
        span {
          font-size: 14px;
        }
      }
    }
  }
}